body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #ffffff;
}

.content {
    width: 100%;
    max-width: 340px; 
    padding: 15px 30px;
    border: 3px solid transparent;
    border-radius: 30px;
    background-image: 
    linear-gradient(#f9f9f9, #f9f9f9), 
    linear-gradient(45deg, #007bff, #00c6ff); 
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    text-align: center; 
    scale: 80%;
    transition: all 0.3s ease;
}

.content:hover {
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

#titulo {
    text-align: center;
    margin-bottom: 30px; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px; 
    color: #2e2e2e;
}

.form-group {
    margin-bottom: 15px; 
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 90%;
    padding: 10px 15px;
    border: 1px solid #bbb;
    border-radius: 25px;
    outline: none;
    transition: 0.3s;
}

.form-group a {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    color: #007bff;
    text-decoration: none;
}

.form-group a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0c50a8;
}

.divider {
    text-align: center;
    margin: 25px 0;
    font-size: 15px;
    color: #666;
    font-weight: bold;
    position: relative;
}


.divider:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: -10px;
    background: #ccc;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.social-login {
    display: flex;
    flex-direction: column; 
    gap: 12px; 
    width: 100%;
}

.social-login button {
    width: 100%; 
    padding: 10px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
    transition: 0.3s ease;
}

.social-login button:hover {
    background-color: #f1f1f1;
}

.social-login button img {
    width: 20px;
    height: 20px;
}

#imagemlogo {
    position: relative;
    top: -20px; 
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    width: 120px;
}

button {
    color: #000000;
}
