* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  width: 350px;
  box-shadow: 0 4px 10px rgb(26, 164, 219);
  transition: all 2s ease;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 30px;
}

.login-box label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.login-box .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  margin-bottom: 10px;
}

.login-box .actions a {
  color: #8d2626;
  text-decoration: none;
}

.cadastrar {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #48bcff;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.voltar {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #b30f0f;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.divider {
  border: none;
  border-top: 1px solid #000000;
  margin: 20px 0;
}

/* Efeito de brilho fixo para os campos de entrada */
.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
  outline: none;
  border-color: #00fff2; /* Cor da borda ao focar no campo */
  box-shadow: 0 0 5px 3px #089773; /* Brilho fixo (azul) */
}
